body,html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
	background-color: white;
	color: black;
	font-family: 'Raleway', sans-serif;
  	/*font-family: 'proximanova', 'proxima-nova', Proxima Nova, Helvetica, sans-serif;*/
}

span.hide {
	color: #fff;
	font-family: 'Courier New', sans-serif;
	font-size:  6pt;
}

h1 {
	font-weight: 600px;
	letter-spacing: 1px;
	font-size: 36pt;
	margin: 0;
	line-height: 37pt;
	margin-bottom: 26px;
	box-sizing: border-box;
}

h2 {
	margin: 12px 0;
	font-weight: 200;
	font-size: 30pt;
	box-sizing: border-box;
}

h3 {
	margin: 12px 0;
	font-weight: 200;
	font-size: 20pt;
	box-sizing: border-box;
}

.container{
	padding:30px;
}

hr {
    background-image: linear-gradient(to right, #F4C6C4, #BF1313, #F4C6C4);
    border: 0;
    margin-top: -15px;
    height: 1px;
}

a.pretty-link {
   color: #a00000;
   text-decoration:none;
   outline:0;
  border-bottom: solid 1px transparent;
  -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out;
     -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out;
      -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
       -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
          transition: color .2s ease-out, border-bottom-color .2s ease-out;
}

a.pretty-link:hover:not(.active) {
   text-decoration: none;
   color: #000;
   border-bottom: solid 1px #a00000;
}

a.pretty-link:visited{
   color: #a00000;
}

.fa {
	color: #BB0000;
}

p {
    display: block;
    margin: 0;
    font-size: 14pt;
    font-weight: 300;
    line-height: 19pt;
}

.clear {
	clear:both;
}

@media screen and (max-width: 800px) {
	#profile-pic {
		width: 200px;
		height:200px;
	}
}

.job-title-info{
	/*min-height: 150px;*/
	padding: 3px 10px;
}
.job-title-info > p {
	text-align:left;
}

.padded-div{
	padding:0 20px;
}

.projects-subsection{
	/*padding-left:20px;*/
	text-align:left;
}

.projects-container{
	padding-left:5px;
	padding-top:10px;
}

.subsection-top-list {
	padding:0 20px;
}

@media (max-width: 800px) {
	.subsection-top-list {
		padding:0;
	}
}

.subsection-top-list > li{
	padding-bottom: 20px;
    font-size: 14pt;
    font-weight: 300;
    line-height: 19pt;
}

.subsection-websites > li{
	padding-bottom: 4px;
}

.grey-list{
	padding-top:3px;
	color:gray;
	line-height: 18px;
}

.subsection-top-list > h3{
	font-weight: bold;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid #e9ecef;
}

.table-active, .table-active>td, .table-active>th {
    background-color: rgba(187,0,0,.75);
    color: white;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

.table td, .table th {
    border: 1px solid #e9ecef;
}

.green {
	color:green;
}

.red {
	color:#bb0000;
}

.journal {
	background-color: #26F940;
	padding: 1px 2px;
}

.conference {
	background-color: #FF7070;
	padding: 1px 2px;
}

.workshop {
	background-color: #CCCCCC;
	padding: 1px 2px;
}

.arxiv {
	background-color: #20AEFF;
	padding: 1px 2px;
}

.float-img{
	padding: 20px;
	float:right;
}

/*
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "Journal/Other"; }
	td:nth-of-type(2):before { content: "Submission"; }
	td:nth-of-type(3):before { content: "Result"; }
}*/
